.navLinks{
    box-sizing: border-box;
}
.navigationBar a{
    text-decoration: none;
}
.navigationBar{
    background-color: #182825;
    padding: 15px 0;
}
.navLinks{
    display: flex;
    justify-content: space-between;
}
.navLogo{
    width: 80px;
}
.navLinks a{
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: 700;  
    color: #dddddd;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    align-self: center;
}
.navLinks a:hover{
    border-bottom: 3px solid #dddddd;  
}
.userCatalog{
    border-bottom: 3px solid transparent;
}
.userCatalog:hover{
    color: red;
    border-bottom: 3px solid red;
}