.heroesItems{
    display: flex;
    justify-content: space-between;
}
.catalogList li{
    display: block;
}
.heroesItems{
    margin: 0 auto;
}
.heroLink{
    color: #364156;
    margin: 5px 10px;
    font-size: 25px;
    font-weight: 700;

}
.heroLink:hover{
    border-bottom: 2px solid #364156;
}
